$local-color: #074F60;
$dev-color: #a9a9c7;
$test-color: #d9c1a7;
$stage-color: #93bfbf;
$demo-color: #92bd92;

@mixin listItemStyle {
  .side-links .v-list-item {
    color: white;

    &.v-list-item--active > .v-list-item__overlay {
      opacity: .25 !important;
    }

    &:hover {
      background-color: rgba(255, 255, 255, .25);
    }

    .v-list-item__prepend > i {
      &:hover {
        opacity: 1;
      }
    }
  }
}

.local-aside-style {
  @include listItemStyle;
  background: $local-color !important;
}

.dev-aside-style {
  @include listItemStyle;
  background: $dev-color !important;
}

.test-aside-style {
  @include listItemStyle;
  background: $test-color !important;
}

.stage-aside-style {
  @include listItemStyle;
  background: $stage-color !important;
}

.demo-aside-style {
  @include listItemStyle;
  background: $demo-color !important;
}
