.v-btn {
  outline: none !important;
  box-shadow: none !important;

  &--disabled {
    opacity: 0.3 !important;
    pointer-events: unset;
    cursor: not-allowed;
  }

  &.is-selected,
  &.is-selected:hover,
  &.is-selected:focus {
    border-color: inherit;
    border-width: .125rem;
  }
}
