.v-field__clearable {
  margin-right: .625rem;
}

.v-selection-control > label {
  opacity: 1 !important;
}

.category-types {
  height: 2.187rem;

  &.radio-group {
    height: unset;
  }

  &.last-type {
    height: 4.375rem;
  }

  .v-selection-control__wrapper {
    left: -0.8rem;
  }
}

.checkbox .v-selection-control__wrapper {
  left: -0.8rem;
}

.box {
  height: 100%;

  p {
    padding: 0.5rem;
  }
}

.optional-text {
  font-size: .8125rem;
}

.warning-message {
  .v-messages__message {
    color: red;
  }
}

.import-stepper {
  box-shadow: unset !important;
  background: inherit !important;

  .v-stepper-header {
    background: rgb(var(--v-theme-surface));
  }
}

.mobile-stepper .v-stepper-header {
  flex-direction: column;

  > button {
    margin: auto;
    flex-basis: 0;
    padding: 1rem 0;
  }

  > hr {
    margin: 0;
  }
}

.import-table {
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid #dbdbdb;
  }

  td {
    padding: .35rem .75rem;
  }

  .first-column {
    width: 15rem;
  }
}
