.v-label {
  opacity: .65;

  > span {
    font-size: .9rem;
  }
}

.v-window {
  overflow: visible;
}

.v-tooltip > .v-overlay__content {
  max-width: 25rem !important;
}

.v-field--disabled {
  opacity: .8;
  background-color: #f5f5f5;
}

.v-icon.label-append-icon {
  pointer-events: auto;
  margin-left: .4rem;
  margin-right: .25rem;
}

.v-input--disabled {
  &:not(.v-checkbox) {
    pointer-events: unset;
    cursor: not-allowed;
  }

  .v-icon.label-append-icon {
    pointer-events: auto;
    cursor: not-allowed;
  }

  .v-field__outline {
      --v-field-border-width: 1px !important;
      --v-field-border-opacity: .5 !important;
  }

  .v-selection-control div,
  .v-selection-control label {
    &, * {
      pointer-events: auto;
      cursor: not-allowed;
    }
  }
}

.v-field__clearable {
  margin-right: .625rem;
}

.v-selection-control > label {
  opacity: 1 !important;
}

.v-label.v-field-label {
  width: 100%;
}

.category-types {
  height: 2.187rem;

  &.radio-group {
    height: unset;
  }

  &.last-type {
    height: 4.375rem;
  }

  .v-selection-control__wrapper {
    left: -.65rem;
  }
}

.checkbox .v-selection-control__wrapper {
  left: -.8rem;
}

.box {
  height: 100%;

  p {
    padding: .5rem;
  }
}

.optional-text {
  font-size: .8125rem;
}

.has-warning-message {
  .v-messages {
    opacity: 1;
  }

  .v-messages__message {
    color: rgb(176, 0, 32);
  }
}

.remote-distribution-flag {
  position: relative;
  top: -1.1rem;
  left: -.3125rem;
}

.import-stepper {
  box-shadow: unset !important;
  background: inherit !important;

  .v-stepper-header {
    background: rgb(var(--v-theme-surface));
  }
}

.mobile-stepper .v-stepper-header {
  flex-direction: column;

  > button {
    margin: auto;
    flex-basis: 0;
    padding: 1rem 0;
  }

  > hr {
    margin: 0;
  }
}

.import-table {
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid #dbdbdb;
  }

  td {
    padding: .35rem .75rem;
  }

  .first-column {
    width: 15rem;
  }
}
