.is-full-page-layout {
  .is-user-avatar {
    line-height: 0;
    img {
      width: $full-page-user-avatar-size;
      height: $full-page-user-avatar-size;
      border-radius: $radius-rounded;
    }
  }
}

.error-page-icon {
  margin-bottom: $default-padding * -.5;
  .icon {
    width: $error-page-icon-size;
    height: $error-page-icon-size;
  }
  .mdi.mdi-set, .mdi.mdi:before {
    font-size: $error-page-icon-size;
  }
}

.error-page-caption {
  margin: $default-padding 0;
  h1 {
    font-size: $size-base * 2;
  }
}
