html {
  background-color: $body-background-color;
}

.has-redirect-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);

  .has-redirect-code {
    font-size: 13rem;
    color: #0e2640;
    line-height: 1;
  }
}

.toast {
  width: 16.875rem;
}

@media only screen and (max-width: $laptop-l) {
  html {
    font-size: 14px !important;
  }
}
