.b-table .table th {
  vertical-align: bottom;
}

.b-table .table th .th-wrap .icon {
  margin-left: .2rem;
}

.is-sortable {
  .sort-icon.is-invisible {
    visibility: initial !important;
    opacity: .3;
  }
}
