// Table

.b-table {
  .table {
    th {
      vertical-align: bottom;
      cursor: initial !important;

      .th-wrap .icon {
        margin-left: .2rem;
      }
    }

    .is-sortable {
      .sort-icon.is-invisible {
        visibility: initial !important;
        opacity: .3;
      }
    }
  }
}

[data-label="Commodity"] {
  padding-left: 2.2rem !important;
}

.help {
  font-size: 0.8em;
}
