.status {
  .v-btn__underlay {
    opacity: 0;
  }

  &.new {
    background-color: #BCFAFF;
    color: #088D8D;
  }

  &.check,
  &.in-progress,
  &.to-distribute,
  &.importing,
  &.uploading,
  &.validated {
    background-color: #001AFF1A;
    color: #2400FF;
  }

  &.correct,
  &.finished,
  &.distributed,
  &.closed {
    background-color: #49C78333;
    color: #0A891E;
  }

  &.creating,
  &.expired {
    background-color: #F2F2F2;
    color: #555454;
  }

  &.failed,
  &.canceled {
    background-color: #E300161A;
    color: #E90319;
  }

  &.invalidated {
    background-color: #F4F1FF;
    color: #FA00FF;
  }
}
