.b-table{
    .is-hoverable {
        cursor: pointer;
    }
}

.modal{
    z-index: 100;

    .modal-background {
        background-color: rgb(19 46 48 / 80%);
    }

    .modal-card-foot {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .animation-content {
        width: 100%;
    }

    form {
        overflow-y: scroll;
        padding-bottom: 80px;
    }

    .modal-card {
        width: auto;
    }

    .modal-card-body {
        overflow: visible;
    }

    .modal-card-foot {
        display: flex;
        justify-content: flex-end;
    }
}

.vue2leaflet-map {
    z-index: 0;
}
