.b-table{
    .is-hoverable {
        cursor: pointer;
    }
}
.loading-overlay{
    z-index: 20;
}

.modal{
    z-index: 100;

    .modal-background {
        background-color: rgb(19 46 48 / 80%);
        position: fixed !important;
    }

    .animation-content {
        width: 100%;
    }

    .modal-card {
        width: auto;
    }

    .small-modal {
        overflow: visible !important;
        .modal-card-body {
            overflow: visible !important;
        }

        .modal-card {
            overflow: visible !important;
        }

        .modal-content {
            overflow: visible !important;
        }
    }

    .modal-card-foot {
        display: flex;
        justify-content: flex-end;
    }

    .modal {
        position: fixed !important;
        overflow: auto !important;
    }

}

.vue2leaflet-map {
    z-index: 0;
}
