.container {
    max-width: initial;
    padding: 1.2rem;
}

.breadcrumb {
    display: flex;

    .breadcrumb-item::before {
        margin-right: 0.75rem;
    }

    .active {
        font-weight: bold;
    }
}
